# CHANGELOG for VRS

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).
{{#tags}}
{{#ifReleaseTag .}}

## [{{tagName name}}](https://github.com/{{ownerName}}/{{repoName}}/{{tagUrl name}}) ({{tagDate .}})
   {{#ifContainsBreaking commits}}

### Breaking changes

      {{#commits}}
         {{#ifCommitBreaking .}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitBreaking}}
      {{/commits}}
   {{/ifContainsBreaking}}
   {{#ifContainsType commits type='feat'}}

### Features

      {{#commits}}
         {{#ifCommitType . type='feat'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsType commits type='fix'}}

### Bug Fixes

      {{#commits}}
         {{#ifCommitType . type='fix'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsType commits type='style'}}

### Style

      {{#commits}}
         {{#ifCommitType . type='style'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsType commits type='refactor'}}

### Refactoring

      {{#commits}}
         {{#ifCommitType . type='refactor'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsType commits type='test'}}

### Testing

      {{#commits}}
         {{#ifCommitType . type='test'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsType commits type='chore'}}

### Chore

      {{#commits}}
         {{#ifCommitType . type='chore'}}
- {{#eachCommitScope .}} **{{.}}**: {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
         {{/ifCommitType}}
      {{/commits}}
   {{/ifContainsType}}
   {{#ifContainsTypeOtherThan commits type='feat'}}
      {{#ifContainsTypeOtherThan commits type='fix'}}
         {{#ifContainsTypeOtherThan commits type='docs'}}
            {{#ifContainsTypeOtherThan commits type='style'}}
               {{#ifContainsTypeOtherThan commits type='refactor'}}
                  {{#ifContainsTypeOtherThan commits type='test'}}
                     {{#ifContainsTypeOtherThan commits type='chore'}}

### Other changes

                        {{#commits}}
                           {{#ifCommitTypeOtherThan . type='feat'}}
                              {{#ifCommitTypeOtherThan . type='fix'}}
                                 {{#ifCommitTypeOtherThan . type='docs'}}
                                    {{#ifCommitTypeOtherThan . type='style'}}
                                       {{#ifCommitTypeOtherThan . type='refactor'}}
                                          {{#ifCommitTypeOtherThan . type='test'}}
                                             {{#ifCommitTypeOtherThan . type='chore'}}
- {{{messageTitle}}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hashFull}}) {{authorName}})
                                             {{/ifCommitTypeOtherThan}}
                                          {{/ifCommitTypeOtherThan}}
                                       {{/ifCommitTypeOtherThan}}
                                    {{/ifCommitTypeOtherThan}}
                                 {{/ifCommitTypeOtherThan}}
                              {{/ifCommitTypeOtherThan}}
                           {{/ifCommitTypeOtherThan}}
                        {{/commits}}
                     {{/ifContainsTypeOtherThan}}
                  {{/ifContainsTypeOtherThan}}
               {{/ifContainsTypeOtherThan}}
            {{/ifContainsTypeOtherThan}}
         {{/ifContainsTypeOtherThan}}
      {{/ifContainsTypeOtherThan}}
   {{/ifContainsTypeOtherThan}}
{{/ifReleaseTag}}
{{/tags}}